<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" / <meta name="keywords" content="Osso City Lighting,Decor,Accents,Durham Region,Interior Lighting,Oulioor Lighting,Landscape Lighting"
	/ <meta name="description" content="Osso City Lighting - Durham Region's largest purveyor of Fine Lighting and Decor since 1984"
	/>
	<meta name="title" content="Osso City Lighting - Brands" />
	<title>Osso City Lighting - Brands</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="../_shared/Home.css" rel="stylesheet" type="text/css" />
	<link href="Brands.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="LogoHolder" align="center">
		<a href="../Dashboard/Welcome.html">
			<img id="Logo" src="../_shared/Osso-Logo.png" alt="Osso City Lighting" />
		</a>
	</div>
	<div id="ButtonHolder" align="center">
		<a href="https://www.facebook.com/OssoCityLighting" target="_blank">
			<img width="60" height="75" class="button" src="../_shared/FaceBook-Logo.png" alt="Facebook" />
		</a>
		<a href="../Suppliers/Brands.html">
			<img width="60" height="75" class="button" src="../_shared/Brands-Logo.png" alt="Brands" />
		</a>
		<a href="../Dashboard/Welcome.html">
			<img width="60" height="75" class="button" src="../_shared/Home-Logo.fw.png" alt="Home" />
		</a>
		<a href="../About/AboutUs.html">
			<img width="60" height="75" class="button" src="../_shared/AboutUs-Logo.png" alt="About Us" />
		</a>
		<a href="../Connect/ContactUs.html">
			<img width="60" height="75" class="button" src="../_shared/Mail-Logo.png" alt="Email" />
		</a>
	</div>

	<div id="Main">
		<a class="BrandBox" href="http://www.artcraftlighting.com/" target="_blank">
			<img class="Brand" src="../../Supplier_Logos/Artcraft-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Floor Lamps</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.avistalighting.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Avista-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>more...</li>
			</ul>


		</a>
		<a class="BrandBox" href="https://www.canarm.com/residential/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Canarm-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Ceiling Fans</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.capitallightingfixture.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/CapitalLighting-logo.jpg" />
			<ul>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.dalslighting.com/en" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Dals-logo.jpg" />
			<ul>
				<li>LED Tape</li>
				<li>Recessed Lighting</li>
				<li>Drivers</li>
				<li>Ceiling Mounts</li>
				<li>Wall Sconce</li>
				<li>Undercabinet</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.dvcanada.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/DVI-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.eurofase.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Eurofase-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>Recessed Lighting</li>
				<li>Track Lighting</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.feiss.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Feiss-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>Mirrors</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.fourbroframes.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Fourbro-logo.jpg" />
			<ul>
				<li>Lamps</li>
				<li>Prints</li>
				<li>Mirrors</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.fredrickramond.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/FredrickRamond-logo.jpg" />
			<ul>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Wall Sconces</li>
				<li>Pendants</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.galaxy-lighting.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Galaxy-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Oulioors</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>Recessed Lighting</li>
				<li>Ceiling Fans</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.hinkleylighting.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Hinkley-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Flush Mounts</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>Oulioors</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.kendallighting.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Kendal-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Floor Lamps</li>
				<li>Flush Mounts</li>
				<li>Ceiling Fans</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.kichler.com/" target="_blank">
			<img class="Brand" src="../../Supplier_Logos/Kichler-logo.jpg" />
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Floor Lamps</li>
				<li>Flush Mounts</li>
				<li>Wall Sconce</li>
				<li>Ceiling Fans</li>
				<li>Pendants</li>
				<li>Oulioors</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.korsonfurniture.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Korson-logo.jpg" />
			<ul>
				<li>Chairs</li>
				<li>Accent Furniture</li>
				<li>Dining</li>
				<li>Mirrors</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://liteline.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Liteline-logo.jpg" />
			<ul>
				<li>LED</li>
				<li>Track Lighting</li>
				<li>Recessed</li>
				<li>Undercabinet</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.montecarlofans.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/MonteCarlo-logo.jpg" />
			<ul>
				<li>Ceiling Fans</li>
				<li>Fan Kits</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.seagulllighting.com/" target="_blank">
			<img class="Brand" src="../../Supplier_Logos/SeagullLighting-logo.jpg">
			<ul>
				<li>Bathroom</li>
				<li>Chandeliers</li>
				<li>Floor Lamps</li>
				<li>Flush Mounts</li>
				<li>Ceiling Fans</li>
				<li>Pendants</li>
				<li>Wall Sconce</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.snocinc.com/?___store=english" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Snoc-logo.jpg" />
			<ul>
				<li>Oulioors</li>
				<li>Post Lights</li>
				<li>Mail Boxes</li>
				<li>Spot Lighting</li>
				<li>Path Lighting</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.standardpro.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Standard-logo.jpg" />
			<ul>
				<li>Light Bulbs</li>
				<li>LED</li>
				<li>Halogen</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://starfirecrystal.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Starfire-logo.jpg" />
			<ul>
				<li>Linear</li>
				<li>Slot</li>
				<li>Pendant</li>
				<li>Surface Mounts</li>
				<li>more...</li>
			</ul>

		</a>

		<a class="BrandBox" href="http://www.sunpan.com/" target="_blank">

			<div style="width: 100%; background-color: black; margin-bottom: 15px; padding-top: 15px; padding-bottom: 15px; border-radius: 4px;">
				<img class="Brand" src="../../Supplier_Logos/Sunpan-logo.jpg" style="width: 90%; height: 90%; margin: auto; border-radius: 3px;"
				/>
			</div>
			<ul>
				<li>Bedroom</li>
				<li>Chairs</li>
				<li>Dining</li>
				<li>Home Office</li>
				<li>more...</li>
			</ul>
		</a>

		<a class="BrandBox" href="http://www.whionline.com/" target="_blank">

			<img class="Brand" src="../../Supplier_Logos/Worldwide-logo.jpg" />
			<ul>
				<li>Bedroom</li>
				<li>Living room</li>
				<li>Dining</li>
				<li>Home Accents</li>
				<li>more...</li>
			</ul>
		</a>

	</div>

	<div id="BottomMenu" align="center">
		<a class="bottomLink" href="https://www.facebook.com/OssoCityLighting" target="_blank">Facebook</a>
		<a class="bottomLink" href="../Suppliers/Brands.html">Brands</a>
		<a class="bottomLink" href="../Dashboard/Welcome.html">Home</a>
		<a class="bottomLink" href="../About/AboutUs.html">About Us</a>
		<a class="bottomLink" href="../Connect/ContactUs.html">Contact Us</a>
		</br>
		</br>
		<a id="copyRight">
			<a style="font-size:14px">&copy;</a> Osso City Lighting 2016</a>
		</br>
		</br>
	</div>
</body>

</html>