@charset "utf-8";

#Main {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BrandBox {
    background-color: white;
    border-radius: 2px;
    display: inline-block;
    width: 25%;
    margin: 15px;
    padding: 15px;
}

table {
    margin: auto;
}

td {
    color: black;
    text-align: center;
}

.Brand {
    opacity: 0.6;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.Brand:hover {
    opacity: 1;
}
