<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="Osso City Lighting,Decor,Accents,Durham Region,Interior Lighting,Outdoor Lighting,Landscape Lighting"
	/>
	<meta name="description" content="Osso City Lighting - Durham Region's largest purveyor of Fine Lighting and Decor since 1984"
	/>
	<meta name="title" content="Osso City Lighting - Brands" />
	<title>Osso City Lighting - Brands</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="../_shared/Home.css" rel="stylesheet" type="text/css" />
	<link href="Brands.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="LogoHolder" align="center">
		<a href="../Dashboard/Welcome.html">
			<img id="Logo" src="../_shared/Osso-Logo.png" alt="Osso City Lighting" />
		</a>
	</div>
	<div id="ButtonHolder" align="center">
		<a href="https://www.facebook.com/OssoCityLighting" target="_blank">
			<img width="60" height="75" class="button" src="../_shared/FaceBook-Logo.png" alt="Facebook" />
		</a>
		<a href="../Suppliers/Brands.html">
			<img width="60" height="75" class="button" src="../_shared/Brands-Logo.png" alt="Brands" />
		</a>
		<a href="../Dashboard/Welcome.html">
			<img width="60" height="75" class="button" src="../_shared/Home-Logo.fw.png" alt="Home" />
		</a>
		<a href="../About/AboutUs.html">
			<img width="60" height="75" class="button" src="../_shared/AboutUs-Logo.png" alt="About Us" />
		</a>
		<a href="../Connect/ContactUs.html">
			<img width="60" height="75" class="button" src="../_shared/Mail-Logo.png" alt="Email" />
		</a>
	</div>

	<div id="Main">
		<div class="BrandBox">

			<a href="http://www.artcraftlighting.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Artcraft-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Floor Lamps</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.avistalighting.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Avista-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.canarm.com/Residential/Residential_Lighting/Families" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Canarm-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Ceiling Fans</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.capitallightingfixture.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/CapitalLighting-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.dalslighting.com/en" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Dals-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>LED Tape</td>
				</tr>
				<tr>
					<td>Recessed Lighting</td>
				</tr>
				<tr>
					<td>Drivers</td>
				</tr>
				<tr>
					<td>Ceiling Mounts</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>Undercabinet</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.dvcanada.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/DVI-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.eurofase.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Eurofase-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>Recessed Lighting</td>
				</tr>
				<tr>
					<td>Track Lighting</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.feiss.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Feiss-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>Mirrors</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.fourbroframes.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Fourbro-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Table Lamps</td>
				</tr>
				<tr>
					<td>Prints</td>
				</tr>
				<tr>
					<td>Mirrors</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.fredrickramond.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/FredrickRamond-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Wall Sconces</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.galaxy-lighting.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Galaxy-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>Recessed Lighting</td>
				</tr>
				<tr>
					<td>Ceiling Fans</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.hinkleylighting.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Hinkley-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.kendallighting.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Kendal-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Floor Lamps</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Ceiling Fans</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">
			<a href="http://www.kichler.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Kichler-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Floor Lamps</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>Ceiling Fans</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.korsonfurniture.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Korson-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Chairs</td>
				</tr>
				<tr>
					<td>Accent Furniture</td>
				</tr>
				<tr>
					<td>Dining</td>
				</tr>
				<tr>
					<td>Mirrors</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://liteline.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Liteline-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>LED</td>
				</tr>
				<tr>
					<td>Track Lighting</td>
				</tr>
				<tr>
					<td>Recessed</td>
				</tr>
				<tr>
					<td>Undercabinet</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.montecarlofans.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/MonteCarlo-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Ceiling Fans</td>
				</tr>
				<tr>
					<td>Fan Kits</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">
			<a href="http://www.seagulllighting.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/SeagullLighting-logo.jpg">
			</a>
			<table>
				<tr>
					<td>Bathroom</td>
				</tr>
				<tr>
					<td>Chandeliers</td>
				</tr>
				<tr>
					<td>Floor Lamps</td>
				</tr>
				<tr>
					<td>Flush Mounts</td>
				</tr>
				<tr>
					<td>Ceiling Fans</td>
				</tr>
				<tr>
					<td>Pendants</td>
				</tr>
				<tr>
					<td>Wall Sconce</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.snocinc.com/?___store=english" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Snoc-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Outdoors</td>
				</tr>
				<tr>
					<td>Post Lights</td>
				</tr>
				<tr>
					<td>Mail Boxes</td>
				</tr>
				<tr>
					<td>Spot Lighting</td>
				</tr>
				<tr>
					<td>Path Lighting</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.standardpro.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Standard-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Light Bulbs</td>
				</tr>
				<tr>
					<td>LED</td>
				</tr>
				<tr>
					<td>Halogen</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://starfirecrystal.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Starfire-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Linear</td>
				</tr>
				<tr>
					<td>Slot</td>
				</tr>
				<tr>
					<td>Pendant</td>
				</tr>
				<tr>
					<td>Surface Mounts</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.sunpan.com/" target="_blank">
				<div style="width: 100%; background-color: black; margin-bottom: 15px; padding-top: 15px; padding-bottom: 15px;">
					<img class="Brand" src="../../Supplier_Logos/Sunpan-logo.jpg" style="width: 90%; height: 90%; margin: auto; border-radius: 3px;"/>
				</div>
			</a>
			<table>
				<tr>
					<td>Bedroom</td>
				</tr>
				<tr>
					<td>Chairs</td>
				</tr>
				<tr>
					<td>Dining</td>
				</tr>
				<tr>
					<td>Home Office</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

		<div class="BrandBox">

			<a href="http://www.whionline.com/" target="_blank">
				<img class="Brand" src="../../Supplier_Logos/Worldwide-logo.jpg" />
			</a>
			<table>
				<tr>
					<td>Bedroom</td>
				</tr>
				<tr>
					<td>Living room</td>
				</tr>
				<tr>
					<td>Dining</td>
				</tr>
				<tr>
					<td>Home Accents</td>
				</tr>
				<tr>
					<td>more...</td>
				</tr>
			</table>
		</div>

	</div>

	<div id="BottomMenu" align="center">
		<a class="bottomLink" href="https://www.facebook.com/OssoCityLighting" target="_blank">Facebook</a>
		<a class="bottomLink" href="../Suppliers/Brands.html">Brands</a>
		<a class="bottomLink" href="../Dashboard/Welcome.html">Home</a>
		<a class="bottomLink" href="../About/AboutUs.html">About Us</a>
		<a class="bottomLink" href="../Connect/ContactUs.html">Contact Us</a>
		<BR>
		<BR>
		<a id="copyRight">
			<a style="font-size:14px">&copy;</a> Osso City Lighting 2016</a>
		<BR>
		<BR>
	</div>
</body>

</html>