@charset "utf-8";

* {
    -webkit-padding-start: 0px;
}

#Main {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.BrandBox {
    display: block;
    width: 25%;
    margin: 15px;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: black;
}

.Brand {
    opacity: 0.6;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.BrandBox:hover .Brand {
    opacity: 1;
}

li {
    list-style-type: none;
}
