@charset "utf-8";
body
{
	font-family:"Century Gothic", sans-serif;
	background:url("pattern-15.png");
	color:#FFFFFF;
}

#LogoHolder,#ButtonHolder
{
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

.button
{	
	opacity: 0.8;
	margin-left:30px;
	margin-right:30px;
}
.button:hover{opacity: 1.0;}

#BottomMenu
{
	margin:20px;
}

.bottomLink
{
	color:white;
	margin-right:25px;
}