<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta
            name="keywords"
            content="Osso City Lighting,Decor,Accents,Durham Region,Interior Lighting,Outdoor Lighting,Landscape Lighting"
        />
        <meta
            name="description"
            content="Osso City Lighting - Durham Region's largest purveyor of Fine Lighting and Decor since 1984"
        />
        <meta name="title" content="Osso City Lighting" />
        <title>Osso City Lighting - Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="../_shared/Home.css" rel="stylesheet" type="text/css" />
        <link href="HomeTransition.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <p class="alert warning" style="margin-bottom: 45px;">
            COVID-19 UPDATE
            <br />
            We are working very hard to make the showroom safe for our staff and our customers, however, it is proving to be challenging to source the necessary safety supplies to meet the on-going health crisis.
            <br />
            <br />
            We are hoping for a re-openning in June but a definite date has not been set until all of the safety measures are in place.
            <br />
            <br />
            Please contact us through email as we are making every effort to follow-up daily or leave us a message by phone and we will get in touch as soon as possible.
            <br />
            <br />
            We want to take a moment to thank you for your support and patience during this time.
            <br />
            <br />
            We will all get through this together.
            <br />
            <br />
            Tel: 905-404-6776
            <br />
            Email: info@ossolighting.ca
            <br />
            Web: www.ossolighting.ca
        </p>
        <div id="LogoHolder" align="center">
            <a href="../Dashboard/Welcome.html"
                ><img id="Logo" src="../_shared/Osso-Logo.png" alt="Osso City Lighting"
            /></a>
        </div>
        <div id="ButtonHolder" align="center">
            <a href="https://www.facebook.com/OssoCityLighting" target="_blank"
                ><img width="60" height="75" class="button" src="../_shared/FaceBook-Logo.png" alt="Facebook"
            /></a>
            <a href="../Suppliers/Brands.html"
                ><img width="60" height="75" class="button" src="../_shared/Brands-Logo.png" alt="Brands"
            /></a>
            <a href="../Dashboard/Welcome.html"
                ><img width="60" height="75" class="button" src="../_shared/Home-Logo.fw.png" alt="Home"
            /></a>
            <a href="../About/AboutUs.html"
                ><img width="60" height="75" class="button" src="../_shared/AboutUs-Logo.png" alt="About Us"
            /></a>
            <a href="../Connect/ContactUs.html"
                ><img width="60" height="75" class="button" src="../_shared/Mail-Logo.png" alt="Email"
            /></a>
        </div>

        <div id="Wall">
            <div class="picture frame1">
                <img class="img" id="img11" src="Frame1/1.jpg" />
                <img class="img two" id="img12" src="Frame1/2.jpg" />
            </div>

            <div class="picture frame2">
                <img class="img" id="img21" src="Frame2/1.jpg" />
                <img class="img two" id="img22" src="Frame2/2.jpg" />
            </div>

            <div class="picture frame3">
                <img class="img" id="img31" src="Frame3/1.jpg" />
                <img class="img two" id="img32" src="Frame3/2.jpg" />
            </div>
        </div>

        <div id="BottomMenu" align="center">
            <a class="bottomLink" href="https://www.facebook.com/OssoCityLighting" target="_blank">Facebook</a>
            <a class="bottomLink" href="../Suppliers/Brands.html">Brands</a>
            <a class="bottomLink" href="../Dashboard/Welcome.html">Home</a>
            <a class="bottomLink" href="../About/AboutUs.html">About Us</a>
            <a class="bottomLink" href="../Connect/ContactUs.html">Contact Us</a><br /><br />
            <a id="copyRight"><a style="font-size:14px">&copy;</a> Osso City Lighting 2016</a><br /><br />
        </div>
        <script src="HomeSetup.js"></script>
    </body>
</html>
