<!doctype html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="Osso City Lighting,Decor,Accents,Durham Region,Interior Lighting,Outdoor Lighting,Landscape Lighting"/>
        <meta name="description" content="Osso City Lighting - Durham Region's largest purveyor of Fine Lighting and Decor since 1984"/>
        <meta name="title" content="Osso City Lighting - Contact Us"/>
        <title>Osso City Lighting - Contact Us</title>
		<link href="../_shared/Home.css" rel="stylesheet" type="text/css"/>
        <link href="ContactUs.css" rel="stylesheet" type="text/css"/>
    </head>
  	<body>
        <p class="alert primary">New website coming April! Check back soon.</p>
        <p class="alert warning" style="margin-bottom: 45px;">
            March 16, 2020:
            <br/>
            <br/>
            To help keep our community safe during this time, our store will remain closed until March 31, 2020.
            <br/>
            For any inquiries regarding an order, please contact us at info@ossolighting.ca.
            <br/>
            We will be checking emails daily, and follow-up as soon as possible.
            <br/>
            <br/>
            Thank you for your patience.
            <br/>
        </p>
        <div id="LogoHolder" align="center">
            <a href="../Dashboard/Welcome.html"><img id="Logo" src="../_shared/Osso-Logo.png" alt="Osso City Lighting"/></a>
        </div>
        <div id="ButtonHolder" align="center">
                <a href="https://www.facebook.com/OssoCityLighting" target="_blank" ><img width="60" height="75" class="button" src="../_shared/FaceBook-Logo.png" alt="Facebook"/></a>
                <a href="../Suppliers/Brands.html"><img width="60" height="75" class="button" src="../_shared/Brands-Logo.png" alt="Brands"/></a>
                <a href="../Dashboard/Welcome.html"><img width="60" height="75" class="button" src="../_shared/Home-Logo.fw.png" alt="Home"/></a>
                <a href="../About/AboutUs.html"><img width="60" height="75" class="button" src="../_shared/AboutUs-Logo.png" alt="About Us"/></a>
                <a href="../Connect/ContactUs.html"><img width="60" height="75" class="button" src="../_shared/Mail-Logo.png" alt="Email"/></a>
        </div>

        <div id="Main">
                <p>209 Bloor Street East, Oshawa</br>905-404-OSSO(6776)</p>
                <div id="hours">
                    <p>Sunday &amp Monday: Closed</p>
                    <p>Tuesday &amp Wednesday: 9:30am-5:30pm</p>
                    <p>Thursday: 9:30am-8:00pm</p>
                    <p>Friday &amp Saturday: 9:30am-5:30pm</p>
                </div>
            	<p>Questions? Email us at <a style="text-decoration: none; color: white;" href="mailto:info@ossolighting.ca">info@ossolighting.ca</a></br>Fax: 905-404-2442</p>
                <iframe id="Map" src="http://maps.google.ca/maps?f=q&amp;hl=en&amp;geocode=&amp;q=209+Bloor+Street+East,+Oshawa,+Ontario&amp;sll=43.882258,-78.85201&amp;sspn=0.007238,0.014591&amp;ie=UTF8&amp;s=AARTsJpl4H_HxaONJsj9mTY0I6iS0VN49w&amp;ll=43.88713,-78.846045&amp;spn=0.014846,0.085831&amp;z=14&amp;output=embed"></iframe>
        </div>

		<div id="BottomMenu" align="center">
            <a class="bottomLink" href="https://www.facebook.com/OssoCityLighting" target="_blank" >Facebook</a>
            <a class="bottomLink" href="../Suppliers/Brands.html">Brands</a>
            <a class="bottomLink" href="../Dashboard/Welcome.html">Home</a>
            <a class="bottomLink" href="../About/AboutUs.html">About Us</a>
            <a class="bottomLink" href="../Connect/ContactUs.html">Contact Us</a><BR><BR>
            <a id="copyRight"><a style="font-size:14px">&copy;</a> Osso City Lighting 2016</a><BR><BR>
        </div>
	</body>
</html>